html(lang='en')
    head 
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width , initial-scale=1.0')
        title Document
        style.
            .title{
                color : green;
            }
            .header{
                font-size:64px;
            }
            
            .btn{
                background-color:green;
                color : white;
                border : 0px }

            #username{
                outline : none;
                width: 200px;
            }


    body 
        h1.title.header This is template engine test
        p this p tag
        form 
            input#username
            button.btn Login


        script