html(lang='en')
    head 
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width , initial-scale=1.0')
        link(rel="stylesheet", href="/static/css/style.css")
        title Document
        
    body 
        h1.title.header This is template engine test
        p(style="color:purple") This is P Tag
        hr
        a(href='https://google.com' target='_blank') Google 
        hr
        form 
            input.username(placeholder="Username...." type='text')
            input.username(placeholder="password...." type='password')
            button.btn Login


        script